attrs=17.2.0
boltons=17.1.0
boto3=1.4.5
botocore=1.5.92
cffi=1.10.0
decorator=4.1.2
django=1.11.3
docutils=0.14
flake8=3.3.0
freetype=2.5.5
hdf5=1.8.17
inflection
ipdb=0.10.3
jbig=2.1
jedi=0.10.2
jmespath=0.9.0
jpeg=8d
libpng=1.6.30
libtiff=4.0.6
matplotlib=2.0.2
mccabe=0.6.1
mkl=2017.0.3
olefile=0.44
openssl=1.0.2l
path.py=10.3.1
pexpect=4.2.1
pickleshare=0.7.4
pip=9.0.1=py35_1
prompt_toolkit=1.0.15
ptyprocess=0.5.2
pycodestyle=2.3.1
pycparser=2.18
pyflakes=1.5.0
pygments=2.2.0
python=3.5.0
python-dateutil=2.6.1
pytz=2017.2
readline=6.2
requests=2.14.2
s3transfer=0.1.10
setuptools=27.2.0
simplegeneric=0.8.1
six=1.10.0
sqlite=3.13.0
tk=8.5.18
traitlets=4.3.2
wcwidth=0.1.7
wheel=0.29.0
xz=5.0.5
zlib=1.2.11
