= paginate @frames, theme: 'twitter-bootstrap-4'

= content_for :notifications do
  span.counter

= render 'admin/shared/frame_table', frames: @frames

javascript:
  (function() {
    var newerOnes = 0;

    var incrementNewers = function() {
      newerOnes += 1;
      $(".notifications .counter").text(newerOnes + " new predictions");
    };

    App.cable.subscriptions.create(
      { channel: "FramesChannel", room: "shakecam" },
      { received: function() { incrementNewers(); } });
  })();
