BUGSNAG_API_KEY=
DATABASE_URL=postgres://something@cloudsqlproxy-service:5432/counting_company_production
GOOGLE_CLOUD_KEYFILE=/secrets/credentials.json
GOOGLE_CLOUD_PROJECT=counting-company-production
ML_URL=ml-service:50051
RACK_ENV=production
RAILS_ENV=production
REDIS_URL=
SECRET_KEY_BASE=
