body.admin {
  &.navbar-padding {
    padding-top: 5rem;
  }

  nav.navbar .notifications {
    color: white;
  }

  table.admin-predictions {
    .frame {
      td img {
        width: 180px
      }

      td.original {
        img {
          display: block;
        }
      }

      td.prediction {
        img {
          display: block;
        }

        span {
          display: inline-block;
          margin-right: 20px;
          h6 {
            margin: 5px 0 0 0;
          }
        }
      }

      i.fa {
        font-size: 40px;
        margin: 40px;
      }
    }
  }
}
