@font-face {
  font-family: 'arquette';
  src: font-url('arquette/ATCArquette-Regular.eot');
  src: font-url('arquette/ATCArquette-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('arquette/ATCArquette-Regular.woff2') format('woff2'),
    font-url('arquette/ATCArquette-Regular.woff') format('woff'),
    font-url('arquette/ATCArquette-Regular.ttf') format('truetype');
}
