@font-face {
  font-family: 'arquette';
  src: asset-url('arquette/ATCArquette-Regular.eot');
  src: asset-url('arquette/ATCArquette-Regular.eot?#iefix') format('embedded-opentype'),
    asset-url('arquette/ATCArquette-Regular.woff') format('woff'),
    asset-url('arquette/ATCArquette-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
