$activegreen: #00f0ac
$black: #000

body
  font-family: 'arquette'
  font-size: 0.9rem
  -webkit-font-smoothing: antialiased


h4
  font-size: 1.3rem

h5
  font-size: 0.9rem
  font-weight: bold
  letter-spacing: 0.3px