body.marketings.index {
  .offwhite {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #eff9fc;
    width: 100vw;
    z-index: -1;
  }

  header.banner {
    max-width: 750px;
    margin: 0 auto;

    h1, h2 {
      font-family: 'arquette';
      display: inline-block;
      vertical-align: bottom;
      line-height: 100px;
    }
  }
}
